@font-face {
  font-family: canopee;
  src: url(./assets/fonts/Canopee.ttf);
}
@font-face {
  font-family: domaine;
  src: url(./assets/fonts/DomaineDispCondMedium.ttf);
}
@font-face {
  font-family: light;
  src: url(./assets/fonts/EditorialNew-Light.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  user-select: none;
}

html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  display: none;
}

body {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  background-color: #c4bcb3;
  color: black;
  /* line-height: 1.6; */
  overflow-x: hidden;
}

/* root */
:root {
  --padding-TBLR-main: 3vw 2vw;
  --padding-TBLR: 2vw 2.5vw;
  --padding-side: 0.5vw 2vw;
  --padding: 2vw 4vw;
  --padding-page2: 5vw 0vw;

  --nav-height: 10vh;
  --bg-texture: rgba(196, 188, 181, 0.529);
}

#main {
  background-color: rgba(221, 212, 212, 0.619);
  overflow: hidden;
}
/* Page 1 */
.page1 {
  min-height: calc(100vh - var(--nav-height));
  width: 100%;
  position: relative;
  margin-top: var(--nav-height);
  overflow-x: hidden;

  background-color: var(--bg-texture);
}
.page1::before {
  content: "";
  position: absolute;
  inset: 0;

  background-image: url("./assets/bgTexture.jpg");
  background-repeat: repeat;
  background-position: center;

  opacity: 0.6;
  mix-blend-mode: multiply;

  pointer-events: none;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  height: var(--nav-height);
  width: 100%;
  z-index: 9;

  display: flex;
  align-items: center;
  justify-content: space-around;

  padding: 0 2vw;
  background-color: var(--bg-texture);
}

.nav::before {
  content: "";
  position: absolute;
  inset: 0;

  background-image: url("./assets/bgTexture.jpg");
  background-repeat: repeat;
  background-position: 50%;

  opacity: 0.9;
  mix-blend-mode: multiply;

  pointer-events: none;
}
.nav > * {
  position: relative;
  z-index: 1;
}

.nav h3 {
  font-size: 1.2vw;
  font-family: domaine;
  font-weight: 500;
  width: 30%;
}
.nav img {
  height: 4vh;
  width: 30%;
}
.nav i {
  font-size: 1.4vw;
  font-weight: 200;
  width: 30%;
  text-align: right;
  cursor: pointer;
}

/* elems */
.elems {
  padding: var(--padding-TBLR);
  height: 48vh;

  display: flex;
  align-items: center;
  justify-content: space-around;
}
.elems .elem1 {
  width: 30%;
  height: 100%;
}
.elems .elem2 {
  width: 30%;
  height: 100%;
  border-right: 2px solid #919191;
  border-left: 2px solid #919191;

  padding: var(--padding-side);
  text-align: center;
  cursor: grabbing;
}
.elems .elem3 {
  width: 30%;
  height: 100%;
}
.imgDiv img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
}
.elems .elem1:hover .imgDiv img,
.elem3:hover .imgDiv img {
  scale: 1.05;
}
.elem1 .imgDiv {
  height: 23vh;
  width: 100%;
  border: 1.3px solid #161616;
  overflow: hidden;
}
.elem3 .imgDiv {
  height: 23vh;
  width: 100%;
  border: 1px solid #161616;
  overflow: hidden;
}

.elems .elem1 h4 {
  margin: 0.8vw 0;
  font-size: 1.5vw;
  font-family: canopee;
  font-weight: 600;
  position: relative;
}
.elems .elem1 h4 span {
  background-color: #b43b12;
  color: rgb(207, 207, 207);
  font-weight: 100;
  font-size: 1.1vw;
  padding: 3px;
  border-radius: 5px;
  position: absolute;
  top: 1px;
  right: 71%;
}
.elems .elem1 p {
  font-family: light;
  font-size: 1.29vw;
  font-weight: 300;
}
.elems .elem2 h3 span {
  display: inline-block;
  height: 2px;
  width: 1.9vw;
  margin-bottom: 0.6vw;
  background-color: black;
}
.elems .elem3 h4 {
  margin: 0.8vw 0;
  font-size: 1.5vw;
  font-weight: 600;
  font-family: canopee;
  position: relative;
}
.elems .elem3 h4 span {
  background-color: #b43b12;
  color: rgb(207, 207, 207);
  font-weight: 100;
  font-size: 1.1vw;
  padding: 3px;
  border-radius: 5px;
  position: absolute;
  top: 1px;
  right: 60%;
}
.elems .elem3 p {
  font-family: light;
  font-size: 1.29vw;
  font-weight: 300;
}

.elems .elem2 h2 {
  font-family: canopee;
  font-size: 4.4vw;
  letter-spacing: -0.3vw;
  font-weight: 300;
  margin-bottom: 1.2vw;
}
.elems .elem2 h3 {
  font-family: light;
  font-size: 2.7vw;
  font-weight: 300;
  line-height: 3vw;
  margin-bottom: 1.8vw;
}
.elems .elem2 h5 {
  font-family: light;
  font-size: 1.3vw;
  font-weight: 500;
}
.elems .elem2 h5 span {
  font-family: domaine;
  font-size: 1.5vw;
  font-weight: 500;
  letter-spacing: -0.08vw;
}

/* center */
.page1 .center h1 {
  font-family: canopee;
  font-weight: 400;
  font-size: 37.5vw;
  margin-left: 2%;
  padding-left: 0.5vw;
  width: 96%;
  background-color: #1c1b19;
  color: #c4bcb3;
  line-height: 33vw;
  letter-spacing: -1.8vw;
  overflow: hidden;
}

/* PAGE 2 */
.page2 {
  min-height: 150vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-page2);

  background-color: var(--bg-texture);
}
.page2::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("./assets/bgTexture.jpg");
  background-repeat: repeat;
  background-position: center;
  opacity: 0.6;
  mix-blend-mode: multiply;
  pointer-events: none;
}

.page2 .page2Left {
  height: 100%;
  width: 32%;
  padding: var(--padding-side);
  margin-top: 0vw;
}

/* left */
.page2 .page2Left {
  border-right: 1px solid #4a4a4a;
}
.page2 .page2Left h2 {
  position: relative;
  font-family: canopee;
  font-size: 8vw;
  line-height: 8.8vw;
  text-align: right;
  letter-spacing: -0.5vw;
  font-weight: 200;
  margin-bottom: 1vw;
}
/* horizontal line */
.headline::after {
  content: "";
  position: absolute;
  left: 0;
  top: 30%;
  width: 100%;
  height: 2.5px;
  background: #000000;
  z-index: -1;
}
.page2 .page2Left h2 span {
  font-size: 13vw;
  font-weight: 400;
}
.subHeadline::after {
  content: "";
  position: absolute;
  left: 5%;
  top: 75%;
  width: 95%;
  height: 2px;
  background: #000000;
  z-index: -1;
}
.page2 .page2Left img {
  height: 50%;
  width: 100%;
  object-fit: cover;
  margin-bottom: 1vw;
}
.page2 .page2Left p {
  font-family: light;
  font-size: 2.2vw;
}
.page2 .page2Left p .drop-cap {
  float: left;
  width: 5vw;
  height: 7.5vw;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-right: 0.8vw;
  margin-top: 0.4vw;

  font-size: 8.5vw;
  font-family: canopee;
  font-weight: 400;
  transform: translateY(0.1vw);

  background-color: #000;
  color: #c4bcb3;
}

/* right */
.page2 .page2Right {
  width: 68%;
  margin-top: 0vw;
  padding: var(--padding-side);
}
.page2 .page2Right img {
  height: 60%;
  width: 100%;
  margin-bottom: 0.7vw;
}
.page2 .page2Right h1 {
  font-family: canopee;
  font-weight: 100;
  font-size: 9.4vw;
  line-height: 8vw;
  letter-spacing: -0.5vw;
}
.headline2::after {
  content: "";
  position: absolute;
  left: 33%;
  top: 80%;
  width: 65%;
  height: 2.5px;
  background: #000000;
  z-index: -1;
}

/* page 3 */
.page3 {
  height: 50vh;
  position: relative;
  width: 100%;
  background-color: var(--bg-texture);
}
.page3::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("./assets/bgTexture.jpg");
  background-repeat: repeat;
  background-position: center;
  opacity: 0.6;
  mix-blend-mode: multiply;
  pointer-events: none;
}
.page3 h1 {
  font-family: canopee;
  font-size: 28vw;
  font-weight: 100;
  line-height: 23vw;
  letter-spacing: -0.8vw;
  background-color: #1c1b19;
  color: #c4bcb3;
  width: fit-content;
  margin-left: 2vw;
  padding: var(--padding-side);
}
.page3 img {
  position: absolute;
  top: -3%;
  right: 2%;
  height: 50vh;
}

/* page 4 */
.page4 {
  min-height: 100vh;
  width: 100%;
  position: relative;
  background-color: var(--bg-texture);

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.page4::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("./assets/bgTexture.jpg");
  background-repeat: repeat;
  background-position: center;
  opacity: 0.6;
  mix-blend-mode: multiply;
  pointer-events: none;
}

/* left4 */
.page4 .left4 {
  width: 65%;
  /* background-color: rebeccapurple; */
  border-right: 1px solid #5a5a59;
  /* padding: var(--padding-TBLR); */
}
.page4 .left4Top {
  /* background-color: red; */
  height: 49vh;
}
.left4Top .elems4 {
  width: 100%;
  padding: var(--padding-TBLR);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.left4Top .elem4a {
  width: 45%;
  border-right: 1px solid #464646;
}
.left4Top .elem4a h2 {
  font-family: canopee;
  font-size: 4.5vw;
  font-weight: 100;
  letter-spacing: -0.3vw;
  margin-bottom: 1vw;
}
.left4Top .elem4a h3 {
  font-family: light;
  font-size: 2.6vw;
  font-weight: 300;
  line-height: 3vw;
  margin-bottom: 2vw;
  /* letter-spacing: -0.1vw; */
}
.left4Top .elem4a h3 span {
  display: inline-block;
  width: 2vw;
  height: 2px;
  background-color: #161616;
  margin-bottom: 0.6vw;
  top: 10%;
}
.left4Top .elem4a h5 {
  font-family: light;
  font-size: 1.4vw;
  font-weight: 100;
  letter-spacing: -0.05vw;
  margin-bottom: 3vw;
}
.left4Top .elem4a h5 span {
  font-family: domaine;
  font-weight: 500;
}

.left4Top .elem4b {
  width: 48%;
  margin-right: 2vw;
  cursor: pointer;
}
.left4Top .elem4b .imgDiv4 {
  width: 105%;
  height: 22vh;
  border: 1.5px solid black;
  overflow: hidden;
}
.left4Top .elem4b .imgDiv4 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: all 0.4s ease-in-out;
}
.left4Top .elem4b:hover .imgDiv4 img {
  scale: 1.05;
}

.left4Top .elem4b h3 {
  font-family: canopee;
  font-size: 2.5vw;
  font-weight: 300;
  margin-bottom: 1vw;
  margin-top: 0.6vw;
  letter-spacing: -0.1vw;
}
.left4Top .elem4b p {
  font-family: light;
  font-size: 1.3vw;
  font-weight: 100;
}

.left4 .left4Bottom img {
  width: 100%;
  padding: var(--padding-TBLR);
  object-fit: cover;
  object-position: center;
}

/* right4 */
.page4 .right4 {
  width: 40%;
  /* background-color: aqua; */
  margin: 2vw 0;
}
.right4 .textDiv4 {
  padding: 0 1vw;
  margin-top: -1.5vw;
}
.page4 .right4 h2 {
  text-align: center;
  font-family: canopee;
  font-size: 9vw;
  letter-spacing: -0.6vw;
  line-height: 10vw;
  font-weight: 200;
  position: relative;
}
.page4 .right4 h2 span {
  font-family: canopee;
  font-size: 16vw;
  font-weight: 400;
  position: relative;
}
.right4 .headline::after {
  width: 100%;
}
.right4 .subHeadline4::after {
  content: "";
  position: absolute;
  height: 2.5px;
  width: 100%;
  background-color: #161616;
  left: 0;
  top: 65%;
  z-index: -1;
}

.right4 .paraDiv1 {
  padding: var(--padding-TBLR);
}
.right4 .paraDiv1 h3 {
  font-family: light;
  font-size: 2.4vw;
  font-weight: 100;
  letter-spacing: -0.05vw;
  line-height: 2.8vw;
}
.page4 .paraDiv1 h3 .drop-cap {
  float: left;
  width: 5vw;
  height: 6.5vw;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-right: 0.8vw;
  margin-top: 0.4vw;

  font-size: 7vw;
  font-family: canopee;
  font-weight: 200;
  transform: translateY(0.3vw);

  background-color: #000;
  color: #c4bcb3;
}

.right4 .paraDiv2 {
  padding: 1vw 2.5vw;
}
.right4 .paraDiv2 h4 {
  font-family: light;
  font-size: 2.3vw;
  font-weight: 100;
  letter-spacing: -0.03vw;
  line-height: 2.6vw;
}

.right4 .andaWrapper {
  padding: var(--padding-TBLR);
}
.right4 .anda {
  height: 22vh;
  width: 100%;
  border-radius: 50%;
  border: 1px solid #525252;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;

  overflow: hidden;
  cursor: pointer;
}

.right4 .anda h1 {
  font-family: canopee;
  font-size: 5vw;
  font-weight: 300;
  letter-spacing: -0.23vw;

  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: red; */
  transform: translateX(-44%);

  transition: all 0.6s ease-in-out;
}
.right4 .anda img {
  height: 4vw;
  transition: all 0.6s ease-in-out;
}
.right4 .anda img {
  transform: translateX(-150%);
}
.right4 .anda:hover img {
  transform: translateX(55%);
}
.right4 .anda:hover h1 {
  transform: translateX(130%);
}

/* page 5 */
.page5 {
  height: 25vh;
  width: 100%;
  position: relative;
  background-color: var(--bg-texture);
  padding: var(--padding-TBLR);

  border-top: 1px solid #636363;
  border-bottom: 1px solid #636363;
}
.page5::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("./assets/bgTexture.jpg");
  background-repeat: repeat;
  background-position: center;
  opacity: 0.6;
  mix-blend-mode: multiply;
  pointer-events: none;
}

.page5 .content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content .con {
  height: 20vh;
  width: 25%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: -1vw;
}
.content .con .text {
  text-align: center;
  line-height: 3.2vw;
}
.content .con .text h3 {
  font-size: 1.7vw;
  font-family: light;
  font-weight: 100;
  letter-spacing: -0.04vw;
  text-transform: uppercase;
}
.content .con .text h1 {
  font-size: 5.2vw;
  font-family: canopee;
  font-weight: 400;
  letter-spacing: -0.3vw;
  text-transform: uppercase;
}
.content .con .num {
  text-align: center;
  font-size: 5vw;
  font-family: domaine;
  font-weight: 100;
  margin-top: 1vw;
  margin-left: 1vw;
}

/* page 6 */
.page6 {
  min-height: 100vh;
  width: 100%;
  position: relative;
  background-color: var(--bg-texture);
  /* padding: var(--padding-TBLR); */
  padding-top: 3.5vw;
  padding-bottom: 1vw;
}
.page6::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("./assets/bgTexture.jpg");
  background-repeat: repeat;
  background-position: center;
  opacity: 0.6;
  mix-blend-mode: multiply;
  pointer-events: none;
}

.part1 {
  height: 105vh;
  width: 100%;

  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.leftTop {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.leftTop h1 {
  font-family: canopee;
  font-size: 35vw;
  font-weight: 200;
  /* margin-top: -5.5vw; */
  letter-spacing: -1.5vw;
  line-height: 26vw;
  color: #1c1c19;
}
.left {
  width: 50%;
  /* background-color: red; */
}
.left h2 {
  font-family: canopee;
  font-size: 33vw;
  font-weight: 200;
  padding-left: 2vw;
  margin-top: -4.5vw;
  letter-spacing: -1.5vw;
  color: #1c1c19;
}
.left img {
  height: 49vh;
  width: 15vw;
  object-fit: cover;
  object-position: center;

  border: 1.5px solid #000;
}

.right {
  height: 100vh;
  width: 45%;
  /* background-color: aqua; */
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.right img {
  width: 94%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.part2 .con2 {
  display: flex;
  align-items: flex-start;
  /* justify-content: space-between; */
  padding: 0 2.5vw;
}
.part2 .con2 img {
  width: 30vw;
  height: 38.5vh;
  object-fit: cover;
  object-position: center;
}
.part2 .con2 h1 {
  font-family: canopee;
  font-size: 28vw;
  font-weight: 200;
  letter-spacing: -1.5vw;
  line-height: 20vw;
  color: #1c1c19;
}
.part3 .con3 {
  display: flex;
  align-items: flex-start;
  padding: 0 2.6vw;
}
.part3 .con3Left {
  width: 65%;
}
.part3 .con3Left h1 {
  text-align: center;
  font-family: canopee;
  font-size: 26vw;
  font-weight: 100;
  letter-spacing: -1.3vw;
  line-height: 23vw;
  color: #c4bcb3;
  background-color: #161616;
  margin-top: 1.3vw;
  height: 44vh;
}

.part3 .con3Right {
  width: 35%;
  padding: 1.2vw 2.2vw;
}
.part3 .con3Right h4 {
  font-family: light;
  font-size: 2.1vw;
  font-weight: 200;
  letter-spacing: -0.06vw;
  line-height: 2.4vw;
}
.part3 .con3Right h4 span {
  text-decoration: underline;
  cursor: pointer;
}
.part3 .con3Right h1 {
  font-family: canopee;
  font-weight: 500;
  font-size: 7.4vw;
  letter-spacing: -0.2vw;
}

/* page 7 */
.page7 {
  min-height: 50vh;
  width: 100%;
  position: relative;
  background-color: var(--bg-texture);
  /* padding: var(--padding-TBLR); */
  padding-top: 3.5vw;
  border-top: 1px solid #646464;
}
.page7::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("./assets/bgTexture.jpg");
  background-repeat: repeat;
  background-position: center;
  opacity: 0.6;
  mix-blend-mode: multiply;
  pointer-events: none;
}

/* page 8 */
.page8 {
  height: 70vh;
  width: 100%;
  position: relative;
  background-color: var(--bg-texture);
  /* padding: var(--padding-TBLR); */
  padding-top: 3.5vw;
  padding-bottom: 2vw;
  padding-left: 3vw;
}
.page8::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("./assets/bgTexture.jpg");
  background-repeat: repeat;
  background-position: center;
  opacity: 0.6;
  mix-blend-mode: multiply;
  pointer-events: none;
}
/* swiper */
.swiper {
  width: 120vw;
  height: 50vh;
}

.swiper-slide {
  background: #c4bcb353;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;

  cursor: grabbing;
  border: 3px solid #00000068;
  box-shadow: 20px 0px 20px rgba(0, 0, 0, 0.097);
}
.swiper-slide:last-child {
  border: none;
  background: #c4bcb323;
}
/* .dashedBox {
  border-image: repeating-linear-gradient(
        to right,
        currentColor 0 6px,
        transparent 6px 14px
      )
      1 round,
    repeating-linear-gradient(
        to bottom,
        currentColor 0 6px,
        transparent 6px 14px
      )
      1 round;
} */

.top8 h3 {
  font-family: light;
  font-size: 2.3vw;
  font-weight: 100;
  text-align: left;
  letter-spacing: -0.1vw;
  line-height: 2.8vw;
  text-decoration: underline;
  text-underline-offset: 0.3vw;
  text-decoration-thickness: 0.06vw;

  padding: 0vw 2vw;
}
.bottom8 {
  display: flex;
  align-items: center;
  gap: 1.5vw;

  padding: 0 2.5vw;
}
.bottom8 img {
  height: 9vh;
  width: 9vh;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;

  border: 0.5px solid #000000af;
}
.bottom8 .text8Div h2 {
  font-family: domaine;
  font-size: 2.2vw;
  font-size: 200;
  text-transform: uppercase;
}
.bottom8 .text8Div p {
  font-family: canopee;
  font-size: 1.4vw;
  font-weight: 100;
}

/* page 9 */
.page9 {
  height: 20vh;
  width: 100%;
  position: relative;
  background-color: var(--bg-texture);
  /* padding: var(--padding-TBLR); */
  padding: 2.2vw 1vw;

  border-top: 1px solid #323232;
  border-bottom: 1px solid #303030;

  white-space: nowrap;
  overflow: hidden;
}
.page9::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("./assets/bgTexture.jpg");
  background-repeat: repeat;
  background-position: center;
  opacity: 0.6;
  mix-blend-mode: multiply;
  pointer-events: none;
}
.page9 h1 {
  font-family: domaine;
  font-size: 6vw;
  font-weight: 100;
  letter-spacing: -0.27vw;
  line-height: 5vw;

  display: inline-block;
  margin-right: 2px;
  width: max-content;
  will-change: transform;
  white-space: nowrap;
  animation: moveText 6s linear infinite;
}
.page9 h1 span {
  font-family: canopee;
  background-color: #1c1c19;
  color: #c4bcb3;
  padding: 0 1vw;
  cursor: pointer;
}

@keyframes moveText {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(calc(-100% - 1px));
  }
}
.page9:hover h1 {
  animation-play-state: paused;
}

/* footer */
.footer {
  height: 100px;
  width: 100%;
  position: relative;
  background-color: var(--bg-texture);

  padding: 0 3vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("./assets/bgTexture.jpg");
  background-repeat: repeat;
  background-position: center;
  opacity: 0.6;
  mix-blend-mode: multiply;
  pointer-events: none;
}

.fLeft {
  display: flex;
  gap: 1vw;
  align-items: center;
}
.fLeft h2 {
  font-family: canopee;
  font-weight: 300;
  font-size: 1.8vw;
}
.fLeft h3 {
  font-size: 1.6vw;
  font-family: light;
  font-weight: 100;
}
.fLeft img {
  height: 7vh;
}

/* fRight */
.fRight {
  display: flex;
  align-items: center;
  gap: 0.8vw;
}
.fRight h2 {
  font-family: canopee;
  font-weight: 100;
  font-size: 1.5vw;
  letter-spacing: -0.06vw;
}
.fRight .dot {
  width: 0.5vw;
  height: 1vh;
  background-color: #000;
  border-radius: 50%;
}
