@font-face {
  font-family: canopee;
  src: url(./assets/fonts/Canopee.ttf);
}
@font-face {
  font-family: domaine;
  src: url(./assets/fonts/DomaineDispCondMedium.ttf);
}
@font-face {
  font-family: light;
  src: url(./assets/fonts/EditorialNew-Light.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  display: none;
}

body {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  background-color: #c4bcb3;
  color: black;
  /* line-height: 1.6; */
  overflow-x: hidden;
}

/* root */
:root {
  --padding-TBLR-main: 3vw 2vw;
  --padding-TBLR: 2vw 2.5vw;
  --padding-side: 0.5vw 2vw;
  --padding: 2vw 4vw;
  --padding-page2: 5vw 0vw;

  --nav-height: 10vh;
  --bg-texture: rgba(196, 188, 181, 0.529);
}

#main {
  background-color: rgba(221, 212, 212, 0.619);
  overflow: hidden;
}
/* Page 1 */
.page1 {
  min-height: calc(100vh - var(--nav-height));
  width: 100%;
  position: relative;
  margin-top: var(--nav-height);
  overflow-x: hidden;

  background-color: var(--bg-texture);
}
.page1::before {
  content: "";
  position: absolute;
  inset: 0;

  background-image: url("./assets/bgTexture.jpg");
  background-repeat: repeat;
  background-position: center;

  opacity: 0.6;
  mix-blend-mode: multiply;

  pointer-events: none;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  height: var(--nav-height);
  width: 100%;
  z-index: 9;

  display: flex;
  align-items: center;
  justify-content: space-around;

  padding: 0 2vw;
  background-color: var(--bg-texture);
}

.nav::before {
  content: "";
  position: absolute;
  inset: 0;

  background-image: url("./assets/bgTexture.jpg");
  background-repeat: repeat;
  background-position: 50%;

  opacity: 0.9;
  mix-blend-mode: multiply;

  pointer-events: none;
}
.nav > * {
  position: relative;
  z-index: 1;
}

.nav h3 {
  font-size: 1.2vw;
  font-family: domaine;
  font-weight: 500;
  width: 30%;
}
.nav img {
  height: 4vh;
  width: 30%;
}
.nav i {
  font-size: 1.4vw;
  font-weight: 200;
  width: 30%;
  text-align: right;
  cursor: pointer;
}

/* elems */
.elems {
  padding: var(--padding-TBLR);
  height: 48vh;

  display: flex;
  align-items: center;
  justify-content: space-around;
}
.elems .elem1 {
  width: 30%;
  height: 100%;
}
.elems .elem2 {
  width: 30%;
  height: 100%;
  border-right: 2px solid #919191;
  border-left: 2px solid #919191;

  padding: var(--padding-side);
  text-align: center;
  cursor: grabbing;
}
.elems .elem3 {
  width: 30%;
  height: 100%;
}
.imgDiv img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
}
.elems .elem1:hover .imgDiv img,
.elem3:hover .imgDiv img {
  scale: 1.05;
}
.elem1 .imgDiv {
  height: 23vh;
  width: 100%;
  border: 1.3px solid #161616;
  overflow: hidden;
}
.elem3 .imgDiv {
  height: 23vh;
  width: 100%;
  border: 1px solid #161616;
  overflow: hidden;
}

.elems .elem1 h4 {
  margin: 0.8vw 0;
  font-size: 1.5vw;
  font-family: canopee;
  font-weight: 600;
  position: relative;
}
.elems .elem1 h4 span {
  background-color: #b43b12;
  color: rgb(207, 207, 207);
  font-weight: 100;
  font-size: 1.1vw;
  padding: 3px;
  border-radius: 5px;
  position: absolute;
  top: 1px;
  right: 71%;
}
.elems .elem1 p {
  font-family: light;
  font-size: 1.29vw;
  font-weight: 300;
}
.elems .elem2 h3 span {
  display: inline-block;
  height: 2px;
  width: 1.9vw;
  margin-bottom: 0.6vw;
  background-color: black;
}
.elems .elem3 h4 {
  margin: 0.8vw 0;
  font-size: 1.5vw;
  font-weight: 600;
  font-family: canopee;
  position: relative;
}
.elems .elem3 h4 span {
  background-color: #b43b12;
  color: rgb(207, 207, 207);
  font-weight: 100;
  font-size: 1.1vw;
  padding: 3px;
  border-radius: 5px;
  position: absolute;
  top: 1px;
  right: 60%;
}
.elems .elem3 p {
  font-family: light;
  font-size: 1.29vw;
  font-weight: 300;
}

.elems .elem2 h2 {
  font-family: canopee;
  font-size: 4.4vw;
  letter-spacing: -0.3vw;
  font-weight: 300;
  margin-bottom: 1.2vw;
}
.elems .elem2 h3 {
  font-family: light;
  font-size: 2.7vw;
  font-weight: 300;
  line-height: 3vw;
  margin-bottom: 1.8vw;
}
.elems .elem2 h5 {
  font-family: light;
  font-size: 1.3vw;
  font-weight: 500;
}
.elems .elem2 h5 span {
  font-family: domaine;
  font-size: 1.5vw;
  font-weight: 500;
  letter-spacing: -0.08vw;
}

/* center */
.page1 .center h1 {
  font-family: canopee;
  font-weight: 400;
  font-size: 37.5vw;
  margin-left: 2%;
  padding-left: 0.5vw;
  width: 96%;
  background-color: #1c1b19;
  color: #c4bcb3;
  line-height: 33vw;
  letter-spacing: -1.8vw;
  overflow: hidden;
}

/* PAGE 2 */
.page2 {
  min-height: 150vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-page2);

  background-color: var(--bg-texture);
}
.page2::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("./assets/bgTexture.jpg");
  background-repeat: repeat;
  background-position: center;
  opacity: 0.4;
  mix-blend-mode: multiply;
  pointer-events: none;
}

.page2 .page2Left {
  height: 100%;
  width: 32%;
  padding: var(--padding-side);
  margin-top: 0vw;
}

/* left */
.page2 .page2Left {
  border-right: 1px solid #4a4a4a;
}
.page2 .page2Left h2 {
  position: relative;
  font-family: canopee;
  font-size: 8vw;
  line-height: 8.8vw;
  text-align: right;
  letter-spacing: -0.5vw;
  font-weight: 200;
  margin-bottom: 1vw;
}
/* horizontal line */
.headline::after {
  content: "";
  position: absolute;
  left: 0;
  top: 30%;
  width: 100%;
  height: 2.5px;
  background: #000000;
  z-index: -1;
}
.page2 .page2Left h2 span {
  font-size: 13vw;
  font-weight: 400;
}
.subHeadline::after {
  content: "";
  position: absolute;
  left: 5%;
  top: 75%;
  width: 95%;
  height: 2px;
  background: #000000;
  z-index: -1;
}
.page2 .page2Left img {
  height: 50%;
  width: 100%;
  object-fit: cover;
  margin-bottom: 1vw;
}
.page2 .page2Left p {
  font-family: light;
  font-size: 2.2vw;
}
.page2 .page2Left p .drop-cap {
  float: left;
  width: 5vw;
  height: 7.5vw;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-right: 0.8vw;
  margin-top: 0.4vw;

  font-size: 8.5vw;
  font-family: canopee;
  font-weight: 400;
  transform: translateY(0.1vw);

  background-color: #000;
  color: #c4bcb3;
}

/* right */
.page2 .page2Right {
  width: 68%;
  margin-top: 0vw;
  padding: var(--padding-side);
}
.page2 .page2Right img {
  height: 60%;
  width: 100%;
  margin-bottom: 0.7vw;
}
.page2 .page2Right h1 {
  font-family: canopee;
  font-weight: 100;
  font-size: 9.4vw;
  line-height: 8vw;
  letter-spacing: -0.5vw;
}
.headline2::after {
  content: "";
  position: absolute;
  left: 33%;
  top: 80%;
  width: 65%;
  height: 2.5px;
  background: #000000;
  z-index: -1;
}

/* page 3 */
.page3 {
  height: 50vh;
  position: relative;
  width: 100%;
  background-color: var(--bg-texture);
}
.page3::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("./assets/bgTexture.jpg");
  background-repeat: repeat;
  background-position: center;
  opacity: 0.4;
  mix-blend-mode: multiply;
  pointer-events: none;
}
.page3 h1 {
  font-family: canopee;
  font-size: 28vw;
  font-weight: 100;
  line-height: 23vw;
  letter-spacing: -0.8vw;
  background-color: #1c1b19;
  color: #c4bcb3;
  width: fit-content;
  margin-left: 2vw;
  padding: var(--padding-side);
}
.page3 img {
  position: absolute;
  top: -3%;
  right: 2%;
  height: 50vh;
}
