/* 
   DESKTOP RESET (IMPORTANT)
    screen nav returns to closed
  */
@media (min-width: 1025px) {
  #fullScr {
    top: -200%; /* force closed */
    transition: all 0.9s ease;
  }
}

/* Nav in full screen */
/* 
   max-width: 768px
*/
@media (max-width: 768px) {
  #fullScr {
    height: 100vh;
    width: 100%;
    top: -100%;
    transition: all 0.9s ease;
    /* ORIGINAL BORDER RADIUS */
    border-radius: 100% 0% 0% 100% / 0% 0% 100% 100%;
  }

  #fullScr .fullDiv1 {
    height: 60%;
    width: 100%;
    /* ORIGINAL BORDER RADIUS */
    border-radius: 100% 0% 44% 56% / 0% 100% 0% 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5vw;
  }

  #fullScr .fullDiv1 .navTexts {
    padding-top: 0;
    width: 100%;
  }

  #fullScr .fullDiv1 h1 {
    font-size: 10vw;
    line-height: 12vw;
    text-align: center;
  }
}

@media (max-width: 1024px) {
  .page1 {
    padding: 4vw;
  }

  nav .texts h1 {
    font-size: 3.5vw;
  }
  nav .texts h2 {
    font-size: 3.2vw;
  }

  nav .right a {
    font-size: 2vw;
    padding: 1vw 2vw;
  }

  /* center section */
  .page1 .center {
    height: auto;
    padding: 4vw;
    flex-direction: column-reverse;
    align-items: flex-end;
    gap: 4vw;
  }

  .page1 .center h3 {
    width: 100%;
    font-size: 2.8vw;
    line-height: 3.4vw;
    margin-bottom: 5vw;
  }

  .page1 .center h1 {
    text-align: right;
    font-size: 14vw;
    line-height: 12vw;
    margin-top: 5vw;
  }

  .page1 .heroShape {
    width: 60vw;
    height: 50vw;
    top: auto;
    bottom: -10vw;
  }

  .page1 video {
    height: 70vh;
    object-fit: cover;
    object-position: center;
    margin-top: 6vw;
    border-radius: 20px;
  }
}

@media (max-width: 768px) {
  nav {
    padding: 2vw 0;
  }

  nav .left {
    line-height: 4.9vw;
    transition: all 0.4s ease;
  }

  nav .texts h1 {
    font-size: 4.8vw;
  }
  nav .texts h2 {
    font-size: 4.3vw;
  }

  nav .right {
    display: none;
  }
  nav h3 {
    display: block;
    padding: 2vw 6vw;
    border: 1px solid #929191;
    border-radius: 50px;
    font-size: 4vw;
    font-weight: 200;
  }
  /* center block */
  .page1 .center {
    padding: 6vw 3vw;
    position: relative;
    z-index: 2;
  }

  .page1 .center h3 {
    font-size: 3.8vw;
    line-height: 4.5vw;
    width: 100%;
    font-weight: 400;
  }
  .page1 .center h1 {
    font-size: 17vw;
    line-height: 15vw;
  }

  /* blob shape */
  .page1 .heroShape {
    width: 55vw;
    height: 40vw;
    bottom: 10vw;
    top: 100vh;
    z-index: 1;
  }

  .page1 .heroShape .box1 {
    filter: blur(40px);
  }

  .page1 .heroShape .box2,
  .page1 .heroShape .box3 {
    width: 40vw;
    height: 40vw;
    filter: blur(35px);
  }

  /* video */
  .page1 video {
    height: 70vh;
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
    margin-top: 8vw;
  }
}

@media (max-width: 480px) {
  .page1 {
    padding: 5vw 0vw;
  }

  /* NAV SMALL */
  nav {
    padding: 2vw 3.5vw;
    flex-direction: row;
    gap: 1vw;
  }
  nav .left {
    transition: all 0.4s ease;
  }

  nav .texts h1 {
    font-size: 6vw;
  }
  nav .texts h2 {
    font-size: 5vw;
  }

  nav .right {
    display: none;
  }
  nav h3 {
    display: block;
    padding: 2vw 6vw;
    border: 1px solid #929191;
    border-radius: 50px;
    font-size: 4vw;
    font-weight: 200;
  }
  nav .circle {
    height: 30px;
    width: 30px;
    right: 19%;
    top: 19%;
  }

  /* center section */
  .page1 .center {
    padding: 5vw 3.5vw;
    gap: 6vw;
  }

  .page1 .center h3 {
    font-size: 4.2vw;
    line-height: 5vw;
  }
  .page1 .center h1 {
    font-size: 20vw;
    line-height: 18vw;
  }

  /* blob shape */
  .page1 .heroShape {
    width: 85vw;
    height: 40vw;
    top: 54vh;
    bottom: 20vw;
  }

  .page1 .heroShape .box2,
  .page1 .heroShape .box3 {
    width: 50vw;
    height: 40vw;
  }

  .page1 video {
    padding: 0vw 1vw;
    border-radius: 12px;
    margin-top: 10vw;
  }
}

/* page2 -> 1024px */
@media (max-width: 1024px) {
  .p2Bottom .text h1 {
    font-size: 4.5vw;
    line-height: 4.8vw;
  }

  .p2Bottom .sideText {
    width: 30vw;
  }

  .p2Bottom .sideText p {
    font-size: 1.8vw;
  }

  .page2 .circle2 {
    height: 22vw;
    width: 22vw;
    left: 35vw;
  }
}
/* 768px tablets */
@media (max-width: 768px) {
  .p2Bottom {
    flex-direction: column;
    height: auto;
    padding: 6vw;
    gap: 6vw;
    position: relative;
    z-index: 2;
    margin-bottom: 30vw;
  }

  .p2Bottom .text {
    width: 100%;
    padding-left: 0;
  }

  .p2Bottom .text h1 {
    font-size: 5vw;
    line-height: 6vw;
    margin-top: 3vw;
  }

  .p2Bottom .sideText {
    width: 60vw;
    height: auto;
    padding-right: 0;
  }

  .p2Bottom .sideText p {
    font-size: 2.5vw;
  }

  .page2 .circle2 {
    height: 30vw;
    width: 30vw;
    left: 40vw;
    top: 80vh;
    z-index: 1;
  }
}
/* 480px mobile */
@media (max-width: 480px) {
  .page2 {
    padding: 5vw 0vw;
    position: relative;
    z-index: 2;
  }

  .page2 .movingText h1 {
    font-size: 18vw;
  }

  .gola {
    height: 25px;
    width: 25px;
    margin: 3vw;
  }

  .p2Bottom {
    flex-direction: column;
    height: auto;
    gap: 8vw;
    padding: 7vw 2vw;
    margin-bottom: 30vw;
  }

  .p2Bottom .text {
    width: 100%;
    padding-left: 0;
  }

  .p2Bottom .text h1 {
    font-size: 8vw;
    line-height: 8vw;
    text-align: left;
    font-weight: 600;
    margin-bottom: 5vw;
    margin-top: 5vw;
    letter-spacing: 0.1vw;
  }

  .p2Bottom .sideText {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 90vw;
    height: auto;
    padding-right: 0;
    /* background-color: red; */
  }

  .p2Bottom .sideText img {
    width: 80%;
    margin-bottom: 4vw;
    border-radius: 10px;
    margin-bottom: 4vw;
    position: relative;
    z-index: 2;
  }

  .p2Bottom .sideText p {
    font-size: 4vw;
    text-align: left;
    padding-right: 19vw;
    line-height: 5.5vw;
  }

  .page2 .circle2 {
    height: 40vw;
    width: 40vw;
    top: 74vh;
    left: 30vw;
    z-index: 3;
  }
}

/* page 3 */
@media (max-width: 1024px) {
  /* Disable floating image */
  #fixedImage {
    display: none !important;
  }

  /* Add static image inside elem */
  .page3 .elem {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    padding: 5vw 4vw;
  }

  .page3 .elem .static-img {
    width: 100%;
    height: 55vw;
    border-radius: 14px;
    background-size: cover;
    background-position: center;
    margin-top: 3vw;
    margin-bottom: 1vw;
  }

  .page3 .elem .leftSide {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    margin-left: auto;
    gap: 0.3vw;
  }
  .page3 .heading h4 {
    font-size: 1.8vw;
  }

  .page3 .heading .circleSmall {
    height: 12px;
    width: 12px;
  }

  /* Adjust text sizes */
  .page3 .elem h2 {
    font-size: 6vw;
  }

  .page3 .elem .leftSide h4 {
    font-size: 4vw;
  }

  .page3 .elem .leftSide p {
    font-size: 3.5vw;
  }
}
@media (max-width: 768px) {
  .page3 .heading {
    padding: 3vw;
  }

  .page3 .heading h4 {
    font-size: 4vw;
    padding: 1vw;
  }

  .page3 .heading .circleSmall {
    height: 14px;
    width: 14px;
  }
}
@media (max-width: 480px) {
  .page3 .heading {
    padding: 4vw;
  }

  .page3 .heading h4 {
    font-size: 5vw;
  }

  .page3 .heading .circleSmall {
    height: 16px;
    width: 16px;
  }
}

/* page 4 */
/* 
 1025px — 
 */
@media (max-width: 1025px) {
  .page4 {
    padding: 4vw;
  }

  .page4 .container {
    height: 80vh;
    flex-direction: row;
  }

  .page4 .container .leftDiv {
    width: 45vw;
    padding: 0vw 6vw;
    line-height: 5vw;
  }

  .page4 .container .leftDiv .text1,
  .page4 .container .leftDiv .text2,
  .page4 .container .leftDiv .text3 {
    font-size: 5vw;
  }

  .page4 .container .leftDiv p {
    line-height: 2.4vw;
    margin-top: 2vw;
    font-size: 1.4vw;
  }

  .page4 .container .rightDiv {
    width: 55vw;
  }
}

/* 
   768px — Tablets
*/
@media (max-width: 768px) {
  .page4 {
    padding: 6vw 4vw;
    padding-bottom: 20vw;
  }

  .page4 .container {
    flex-direction: column;
    min-height: 100vh; /* allows growth */
    border-radius: 20px;
  }

  .page4 .container .leftDiv {
    width: 100%;
    height: auto;
    padding: 8vw 6vw;
    line-height: 8vw;
  }

  .page4 .container .leftDiv .text1,
  .page4 .container .leftDiv .text2,
  .page4 .container .leftDiv .text3 {
    font-size: 8vw;
  }

  .page4 .container .leftDiv p {
    line-height: 2.2vw;
    margin-top: -2vw;
    font-size: 2vw;
    margin-top: 2.8vw;
  }

  .page4 .container .rightDiv {
    width: 100%;
    height: auto;
    max-height: 40vh;
    overflow: hidden;
    /* border-radius: 20px; */
  }

  .page4 .container .rightDiv img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media (max-width: 480px) {
  .page4 {
    padding: 8vw 3vw;
  }

  .page4 .container {
    flex-direction: column;
  }

  .page4 .container .leftDiv {
    width: 100%;
    padding: 10vw 4vw;
    line-height: 10vw;
  }
  .page4 .container .leftDiv .upperText {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-left: 10vw;
  }

  .page4 .container .leftDiv .text1,
  .page4 .container .leftDiv .text2,
  .page4 .container .leftDiv .text3 {
    font-size: 10vw;
  }

  .page4 .container .leftDiv p {
    font-size: 3.7vw;
    line-height: 6vw;
    margin-top: 3vw;
  }

  .page4 .container .rightDiv {
    height: 50vh;
    width: 100%;
  }
}

/* page 5 */
@media (max-width: 1025px) {
  .page5 {
    height: auto;
    padding: 6vw 4vw;
  }

  .swiper {
    height: auto;
    padding: 6vw 0;
  }

  .swiper-slide {
    width: 40%;
    gap: 4vw;
  }

  .swiper-slide h2 {
    font-size: 3.4vw;
  }

  .swiper-slide p {
    font-size: 1.8vw;
  }

  .page5 .page5Bottom h2 {
    font-size: 2.4vw;
  }

  .page5 .page5Bottom span {
    font-size: 2.6vw;
  }

  .page5 .page5Bottom .circleDot {
    height: 1.6vw;
    width: 1.6vw;
  }
}
@media (max-width: 768px) {
  .page5 {
    height: auto;
    padding: 8vw 4vw;
  }

  .swiper {
    height: auto;
    padding: 8vw 0;
  }

  .swiper-slide {
    width: 65%;
    gap: 5vw;
    padding: 4vw;
  }

  .swiper-slide h2 {
    font-size: 5.5vw;
  }

  .swiper-slide p {
    font-size: 3vw;
  }

  .page5 .page5Bottom h2 {
    font-size: 3.6vw;
  }

  .page5 .page5Bottom span {
    font-size: 4vw;
  }

  .page5 .page5Bottom .circleDot {
    height: 2.6vw;
    width: 2.6vw;
  }
}
@media (max-width: 480px) {
  .page5 {
    height: auto;
    padding: 10vw 4vw;
  }

  .swiper {
    height: auto;
    padding: 5vw 0;
  }

  .swiper-slide {
    width: 85%;
    gap: 6vw;
    padding: 4vw 4vw;
    border-left: none;
    border-bottom: 1px solid #ccc;
  }

  .swiper-slide h2 {
    font-size: 7vw;
  }

  .swiper-slide p {
    font-size: 4vw;
  }

  .page5 .page5Bottom {
    gap: 3vw;
  }

  .page5 .page5Bottom h2 {
    font-size: 4.5vw;
  }

  .page5 .page5Bottom span {
    font-size: 5vw;
  }

  .page5 .page5Bottom .circleDot {
    height: 3.5vw;
    width: 3.5vw;
  }
}

/* footer */
/* (max-width: 1024px) */
@media (max-width: 1024px) {
  .footer {
    height: auto;
    padding: 6vw 0;
  }

  .footer h1 {
    font-size: 22vw;
    margin-bottom: -3vw;
    margin-left: 2vw;
  }

  .footer .footerDiv {
    padding: 4vw;
    flex-direction: row;
    gap: 4vw;
  }

  .footer .footerDiv .left h3 {
    font-size: 4vw;
  }

  .footer .footerDiv .right {
    height: auto;
  }
  .footer .footerDiv .right p {
    line-height: 2vw;
    margin-bottom: 2vw;
  }

  .footer .footerDiv .right input {
    width: 35vw;
    height: 4.5vw;
    font-size: 1.9vw;
  }

  .footer .footerBottom .fElems {
    font-size: 1.5vw;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 4vw;
  }
}

/*  (max-width: 768px) */
@media (max-width: 768px) {
  .footer {
    height: auto;
    padding-top: 10vw;
  }

  .footer h1 {
    font-size: 22vw;
    margin-top: 2vw;
    margin-bottom: -3vw;
    letter-spacing: -0.8vw;
  }

  /* Keep LEFT and RIGHT SIDE-BY-SIDE */
  .footer .footerDiv {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 6vw;
    gap: 4vw;
  }

  /* LEFT SIDE */
  .footer .footerDiv .left {
    width: 45%;
  }

  .footer .footerDiv .left h3 {
    font-size: 5.5vw;
    line-height: 1.1;
  }

  /* RIGHT SIDE */
  .footer .footerDiv .right {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 3vw;
  }

  .footer .footerDiv .right p {
    font-size: 2.6vw;
    line-height: 3.5vw;
  }

  .footer .footerDiv .right input {
    height: 7vw;
    width: 100%;
    font-size: 2.8vw;
    padding: 1vw 0;
  }

  /* Bottom Footer */
  .footerBottom {
    height: 3vh;
    padding: 4vw 0;
    height: auto;
  }

  .footer .footerBottom .fElems {
    flex-direction: row;
    justify-content: space-around;
    font-size: 2vw;
  }

  /* Blob Animation */
  .footer .animate {
    height: 60vw;
    width: 90vw;
    top: -8vw;
    right: -5vw;
    filter: blur(35px);
  }
}

/* S (max-width: 480px) */
@media (max-width: 480px) {
  .footer h1 {
    font-size: 22vw;
    margin-bottom: -2vw;
  }

  /* Keep left and right SIDE BY SIDE */
  .footer .footerDiv {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    gap: 4vw;
  }

  /* LEFT SIDE */
  .footer .footerDiv .left {
    width: 40%;
  }
  .footer .footerDiv .left h3 {
    font-size: 6vw;
    line-height: 1.1;
  }

  /* RIGHT SIDE */
  .footer .footerDiv .right {
    width: 58%;
    display: flex;
    flex-direction: column;
    gap: 3vw;
  }
  .footer .footerDiv .right p {
    font-size: 3.5vw;
    line-height: 4.5vw;
  }

  /* Input should NOT force wrapping */
  .footer .footerDiv .right input {
    height: 10vw;
    width: 100%;
    font-size: 3.8vw;
  }

  /* Footer bottom */
  .footer .footerBottom .fElems {
    font-size: 2.4vw;
    font-weight: 300;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
}
