@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  /* background-color: black;
  color: white;
  line-height: 1.6; */
}
::selection {
  background: #ff5a2d;
  color: white;
}
#main {
  min-height: 100vh;
  position: relative;
  z-index: 10;
  pointer-events: all;
}

:root {
  --background-color: #efeae3;
  --text-color: black;
  --text-color2: #fff;
  --bg-color: black;

  --shape-color: #fe320a;

  --font-family1: "Raleway", sans-serif;
  --font-family2: "Work Sans", sans-serif;
  --font-family-condensed: "Roboto Condensed", sans-serif;

  --nav-color: rgb(255, 68, 0);
  --nav-color2: black;

  --padding: 2vw 3vw;
  --padding-xs: 0.5vw 0.9vw;
  --padding-moving: 7vw 0vw;
  --padding-top: 3vw 0vw;
  --padding-side: 1vw 3vw;
}
/* cursor */
.cursor {
  height: 2vw;
  width: 2vw;
  border-radius: 50%;
  background-color: var(--bg-color);
  position: fixed;

  z-index: 3;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  mix-blend-mode: overlay;
}

/* page1 */
.page1 {
  min-height: 100vh;
  width: 100%;
  background-color: var(--background-color);
  position: relative;
  padding: var(--padding);
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  /* height: 6vw; */
  width: 100%;
  /* background-color: aqua; */
  /* padding: var(--padding); */
}
nav .left {
  position: relative;
  line-height: 1.6vw;
  z-index: 1;
}
nav .texts {
  z-index: 2;
}

nav .texts h1 {
  color: var(--nav-color);
  font-weight: 300;
  font-size: 2.1vw;
  font-family: var(--font-family2);
}
nav .texts h2 {
  color: var(--nav-color2);
  font-weight: 600;
  font-size: 2vw;
  font-family: var(--font-family2);
}
nav .circle {
  position: absolute;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  right: 9%;
  top: 19%;
  z-index: 3;
  mix-blend-mode: difference;
  background-color: rgba(249, 0, 0, 0.721);
}

nav .right {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: black;
  gap: 1vw;
}
nav .right a {
  font-size: 1.3vw;
  font-weight: 500;
  font-family: var(--font-family1);
  padding: var(--padding-xs);
  border: 1px solid #0000008c;
  border-radius: 50px;
  text-decoration: none;
  color: var(--text-color);
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: all 0.2s ease-in;
}
nav .right a:hover {
  color: var(--text-color2);
}
nav .right a::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: var(--bg-color);
  /* bottom: 0; */
  bottom: -100%;
  left: 0;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  z-index: -1;
}
nav .right a:hover::after {
  bottom: 0;
  border-radius: 0;
}

.page1 .center {
  height: 66vh;
  width: 100%;
  /* background-color: aqua; */
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: var(--padding);
  border-bottom: 1px solid rgba(0, 0, 0, 0.482);
  z-index: 1;
}
.page1 .center h3 {
  width: 25vw;
  font-family: var(--font-family-condensed);
  font-size: 2vw;
  line-height: 2vw;
}
.page1 .center h1 {
  font-size: 10vw;
  font-family: var(--font-family-condensed);
  font-weight: 600;
  line-height: 8vw;
  text-align: right;
  text-transform: uppercase;
}
.page1 video {
  width: 100%;
  border-radius: 30px;
  margin-top: 3vw;
  position: relative;
  z-index: 2;
}

.page1 .heroShape {
  height: 36vw;
  width: 46vw;
  position: absolute;
  right: 0;
  top: 67vh;
  z-index: 1;
}
.page1 .heroShape .box1 {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(#f13906ec, #d13105ad);
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  filter: blur(29px);
  opacity: 1;
  mix-blend-mode: multiply;
}
.page1 .heroShape .box2 {
  position: absolute;
  width: 30vw;
  height: 30vw;
  background-color: #f53b07;
  border-radius: 50%;
  filter: blur(25px);
  opacity: 0.9;
  mix-blend-mode: multiply;
  animation: box2 4s ease-in-out infinite alternate-reverse;
}
.page1 .heroShape .box3 {
  position: absolute;
  width: 30vw;
  height: 30vw;
  background-color: #f53b07;
  border-radius: 50%;
  filter: blur(25px);
  opacity: 0.9;
  mix-blend-mode: multiply;
  animation: box3 5s ease-in infinite alternate;
}

@keyframes box3 {
  from {
    transform: translate(12%, -7%);
  }
  to {
    transform: translate(-25%, 9%);
  }
}
@keyframes box2 {
  from {
    transform: translate(35%, -5%);
  }
  to {
    transform: translate(25%, -1%);
  }
}

/* Page 2 */
.page2 {
  min-height: 100vh;
  width: 100%;
  background-color: var(--background-color);
  padding: var(--padding-moving);
  overflow-x: hidden;
  position: relative;
}
.page2 .movingText {
  white-space: nowrap;
}
.page2 .container {
  white-space: nowrap;
  display: inline-block;
  animation: moveText 10s linear infinite;
}
.page2 .movingText h1 {
  font-size: 9vw;
  font-family: var(--font-family1);
  font-weight: 600;
  display: inline-block;
}
.gola {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: var(--shape-color);
  display: inline-block;
  margin: 1vw 2vw;
}
@keyframes moveText {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

.page2 .p2Bottom {
  height: 70vh;
  width: 100%;
  background-color: var(--background-color);

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding);
}
.p2Bottom .text {
  width: 58vw;
  padding-left: 3vw;
  position: relative;
  z-index: 3;
}
.p2Bottom .text h1 {
  font-size: 3.9vw;
  font-weight: 500;
  line-height: 3.7vw;
  font-family: var(--font-family2);
}
.p2Bottom .sideText {
  height: 45vw;
  width: 22vw;
  padding-right: 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.p2Bottom .sideText img {
  width: 100%;
  border-radius: 16px;
  margin-bottom: 2.2vw;
}
.p2Bottom .sideText p {
  font-family: var(--font-family1);
  font-weight: 500;
  font-size: 1.2vw;
}

.page2 .circle2 {
  height: 25vw;
  width: 25vw;
  border-radius: 50%;
  background: linear-gradient(to top right, #fe320a, #fa9f03);
  position: absolute;
  top: 50vh;
  left: 40vw;
  mix-blend-mode: multiply;
  filter: blur(17px);
  animation: circle2 6s ease-in-out infinite alternate;
}

@keyframes circle2 {
  0% {
    filter: blur(17px);
    transform: translate(12%, -12%) skew(0deg);
  }
  25% {
    filter: blur(20px);
    transform: translate(20%, -5%) skew(5deg);
  }
  50% {
    filter: blur(22px);
    transform: translate(0%, 10%) skew(-6deg);
  }
  75% {
    filter: blur(26px);
    transform: translate(-10%, 5%) skew(-10deg);
  }
  100% {
    filter: blur(30px);
    transform: translate(-18%, 18%) skew(-12deg);
  }
}

/* page 3 */
.page3 {
  min-height: 100vh;
  width: 100%;
  background-color: var(--background-color);
  position: relative;
  /* padding: var(--padding-top); */
}
.page3 .elem {
  height: 130px;
  width: 100%;
  border-bottom: 1px solid #00000061;
  padding: var(--padding-side);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
.page3 .elem h2 {
  font-size: 2.5vw;
  font-family: var(--font-family1);
  font-weight: 600;
  color: var(--text-color);
  position: relative;
  z-index: 2;
  transition: all 0.3s ease-in-out;
}
.page3 .elem .leftSide {
  position: relative;
  z-index: 2;
  text-align: right;
}
.page3 .elem .leftSide h4 {
  font-family: var(--font-family2);
  font-weight: 400;
  font-size: 1.3vw;
}
.page3 .elem .leftSide p {
  font-family: var(--font-family2);
  font-weight: 300;
}
.page3 .elem .overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: -100%;
  background-color: rgb(255, 145, 0);
  transition: all ease-in-out 0.3s;
}
.elem:hover h2 {
  color: var(--text-color2);
  scale: 0.93;
}
.elem:hover .overlay {
  top: 0;
}
.page3 .heading {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xs);
}
.page3 .heading h4 {
  font-size: 1vw;
  font-family: var(--font-family2);
  font-weight: 400;
  padding: var(--padding-xs);
  text-transform: uppercase;
}
.page3 .heading .circleSmall {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: var(--shape-color);
}
/* fixed image */
#fixedImage {
  height: 29vw;
  width: 24vw;
  /* background-color: rebeccapurple; */
  border-radius: 12px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  /* left: 52%; // use if want to use static
  top: 36%; */
  background-size: cover;
  background-position: center;
  display: none;
  transition: transform 0.08s linear;
  pointer-events: none;
}
#elemContainer {
  transition: all 0.3s ease-in-out;
}

/* Page 4 */
.page4 {
  height: 100vh;
  width: 100%;
  background-color: var(--background-color);
  padding: var(--padding);
}
.page4 .container {
  height: 90vh;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page4 .container .leftDiv {
  height: 100%;
  width: 40vw;
  background-color: black;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 0vw 8vw;
  line-height: 4.3vw;
}
.page4 .container .leftDiv .text1 {
  color: rgb(255, 255, 255);
  font-size: 4.6vw;
  font-family: var(--font-family1);
  position: relative;
}
.page4 .container .leftDiv .text1::before {
  content: "";
  position: absolute;
  left: -4%;
  top: 0%;
  width: 3px;
  height: 100%;
  background-color: var(--shape-color);
  border-radius: 10px;
  z-index: 3;
}
.page4 .container .leftDiv .text2 {
  color: #ffffff4f;
  font-size: 4.5vw;
  font-family: var(--font-family1);
}
.page4 .container .leftDiv .text3 {
  color: #ffffff4f;
  font-size: 4.5vw;
  font-family: var(--font-family1);
  display: flex;
  padding-right: 2px;
}
.page4 .container .leftDiv .text3 span {
  color: var(--shape-color);
  font-family: var(--font-family-condensed);
}
.page4 .container .leftDiv p {
  color: var(--background-color);
  line-height: 1.5vw;
  font-family: var(--font-family-condensed);
  font-weight: 200;
  margin-top: -6vw;
}
.page4 .container .rightDiv {
  height: 100%;
  width: 60vw;
  background-color: rebeccapurple;
}
.page4 .container .rightDiv img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

/* page 5 */
.page5 {
  height: 85vh;
  width: 100%;
  position: relative;
  /* z-index: 1; */
  background-color: var(--background-color);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

/* footer */
.footer {
  position: sticky;
  overflow: hidden;
  height: 80vh;
  width: 100%;
  left: 0;
  bottom: 0;
  color: var(--text-color2);
  background-color: var(--bg-color);
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
  z-index: 5;
}
.footer .container {
  width: 100%;
  position: relative;
  z-index: 1;
}
.footer h1 {
  font-family: var(--font-family2);
  font-size: 22vw;
  font-weight: 500;
  margin-bottom: -3vw;
  margin-left: 4vw;
  letter-spacing: -0.8vw;
}
.footer h1 span {
  color: var(--shape-color);
}
.footer .footerDiv {
  height: 25vh;
  width: 100%;
}
.footer .footerBottom {
  height: 7vh;
  width: 100%;
  border-top: 1px solid #545353bd;
}
.footer .footerBottom .fElems {
  padding: var(--padding-xs);
  display: flex;
  height: 100%;
  width: 100%;
  color: var(--text-color2);
  font-family: var(--font-family1);
  font-weight: 100;
  font-size: 0.93vw;
  align-items: center;
  justify-content: space-between;
}

.footer .footerDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-side);
}
.footer .footerDiv .left h3 {
  font-size: 2.2vw;
  color: var(--background-color);
  font-family: var(--font-family1);
  font-weight: 600;
  transition: all 0.3 ease-in-out;
  cursor: pointer;
}
.footer .footerDiv .left h3:hover {
  color: var(--text-color2);
  scale: 0.99;
}

.footer .footerDiv .right {
  height: 8vw;
  display: flex;
  /* background-color: red; */

  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.footer .footerDiv .right p {
  font-family: var(--font-family2);
  font-weight: 200;
  line-height: 1.1vw;
}
.footer .footerDiv .right input {
  height: 3vw;
  width: 17vw;
  background: transparent;
  border: none;
  border-bottom: 1px solid #565656;
  font-size: 1.1vw;
  color: white;
  outline: none;
  padding: 0.3vw 0;
  transition: border-color 0.3s ease, padding-left 0.3s ease;
}

.footer .footerDiv .right input::placeholder {
  color: #9e9e9e;
  transition: color 0.3s ease;
  padding-left: 1vw;
}

.footer .footerDiv .right input:focus {
  border-bottom-color: var(--shape-color);
  padding-left: 0.2vw;
}

.footer .footerDiv .right input:focus::placeholder {
  color: var(--shape-color);
  padding-left: 0.8vw;
}

/* FOOTER ANIMATION BLOB */
.footer .animate {
  position: absolute;
  top: -5vw;
  right: 10vw;

  height: 35vw;
  width: 100vw;

  background: linear-gradient(to top right, #fe330ae1, #fa5e03e0);
  border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;

  filter: blur(30px);
  mix-blend-mode: screen;
  /* mix-blend-mode: multiply; for to show in the background of the text or footer */
  pointer-events: none;
  z-index: 2;

  animation: footerBlob 4s ease-in-out infinite alternate;
}

@keyframes footerBlob {
  0% {
    transform: skew(0deg) scale(1);
  }
  50% {
    transform: skew(-15deg) scale(1.1);
  }
  100% {
    transform: skew(20deg) scale(2);
  }
}
