@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  /* background-color: black;
  color: white;
  line-height: 1.6; */
}

:root {
  --background-color: #efeae3;
  --text-color: black;
  --text-color2: #fff;
  --bg-color: black;

  --font-family1: "Raleway", sans-serif;
  --font-family2: "Work Sans", sans-serif;
  --font-family-condensed: "Roboto Condensed", sans-serif;

  --nav-color: rgb(255, 68, 0);
  --nav-color2: black;

  --padding: 2vw 3vw;
  --padding-xs: 0.5vw 0.9vw;
}

/* page1 */
.page1 {
  height: 100vh;
  width: 100%;
  background-color: var(--background-color);
  position: relative;
  padding: var(--padding);
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  /* height: 6vw; */
  width: 100%;
  /* background-color: aqua; */
  /* padding: var(--padding); */
}
nav .left {
  position: relative;
  line-height: 1.6vw;
  z-index: 1;
}
nav .texts {
  z-index: 2;
}

nav .texts h1 {
  color: var(--nav-color);
  font-weight: 300;
  font-size: 2.1vw;
  font-family: var(--font-family2);
}
nav .texts h2 {
  color: var(--nav-color2);
  font-weight: 600;
  font-size: 2vw;
  font-family: var(--font-family2);
}
nav .circle {
  position: absolute;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  right: 9%;
  top: 19%;
  z-index: 3;
  mix-blend-mode: difference;
  background-color: rgba(249, 0, 0, 0.721);
}

nav .right {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: black;
  gap: 1vw;
}
nav .right a {
  font-size: 1.3vw;
  font-weight: 500;
  font-family: var(--font-family1);
  padding: var(--padding-xs);
  border: 1px solid #0000008c;
  border-radius: 50px;
  text-decoration: none;
  color: var(--text-color);
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: all 0.2s ease-in;
}
nav .right a:hover {
  color: var(--text-color2);
}
nav .right a::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: var(--bg-color);
  /* bottom: 0; */
  bottom: -100%;
  left: 0;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  z-index: -1;
}
nav .right a:hover::after {
  bottom: 0;
  border-radius: 0;
}

.page1 .center {
  height: 66vh;
  width: 100%;
  /* background-color: aqua; */
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: var(--padding);
  border-bottom: 1px solid rgba(0, 0, 0, 0.482);
}
.page1 .center h3 {
  width: 25vw;
  font-family: var(--font-family-condensed);
  font-size: 2vw;
  line-height: 2vw;
}
.page1 .center h1 {
  font-size: 10vw;
  font-family: var(--font-family-condensed);
  font-weight: 600;
  line-height: 8vw;
  text-align: right;
  text-transform: uppercase;
}
