@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  -ms-overflow-style: none; /* IE/Edge */
  --scrollbar-width: none; /* Firefox */
}
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

body {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  background-color: black;
  color: white;
  /* line-height: 1.6; */
}
a {
  text-decoration: none;
  /* color: var(--text-color); */
}

:root {
  --bg-black: black;
  --bg-white: white;
  --text-color: #fff;
  --button-color: #edbfff;

  --padding: 3vw 3vw;
  --padding-side: 0vw 3vw;
  --padding-small: 0.3vw 0.8vw;
  --padding-text-top: 10vw;
  --padding-text-left: 12vw;
  --padding-text-moreLeft: 30vw;
  --padding-button: 0.35vw 0;

  --font1: "Roboto Condensed", sans-serif;
}
#cursor {
  width: 1vw;
  height: 1vw;
  position: fixed;
  border-radius: 50%;
  background-color: var(--button-color);
  z-index: 99;
  mix-blend-mode: difference;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(1);
  /* transition: transform 0.1s linear; */
  transition: transform 0.1s linear, border-radius 0.25s ease, width 0.25s ease,
    height 0.25s ease, background 0.2s ease;
  /* for the text */
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
  font-size: 1vw;
  opacity: 0.9;
}
#cursor span {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

/* PAGE 1 */
.page1 {
  min-height: 100vh;
  width: 100%;
  background-color: var(--bg-black);
  /* color: var(--text-color); */
  font-family: var(--font1);
}
/* nav */
.nav {
  height: 7vh;
  width: 100%;
  /* background-color: rebeccapurple; */
  padding: var(--padding-side);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3vw;
}
.navLeft h2 {
  height: 6vh;
  width: 8vw;
  padding-left: 1.3vw;
  padding-top: 0.2vw;
  display: flex;
  align-items: center;
  font-size: 1.7vw;
  position: relative;
  z-index: 1;
  color: var(--text-color);
  transition: all 0.2s ease-in-out;
  overflow: hidden;
}
.navLeft h2:hover {
  color: var(--bg-black);
}
.navLeft h2::after {
  content: "";
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin-left: -1vw;
  background-color: var(--bg-white);
  bottom: -100%;
  left: 0;
  border-radius: 10%;
  transition: all 0.3s ease-in-out;
}
.navLeft h2:hover::after {
  bottom: -15%;
  border-radius: 50px;
}
.navMiddle {
  display: flex;
  align-items: center;
  gap: 0.1vw;
  cursor: pointer;
}
.navMiddle a {
  color: var(--text-color);
  font-weight: 300;
  border: 1px solid #000000;
  padding: var(--padding-small);
  border-radius: 50px;
  position: relative;
  z-index: 1;
  transition: all 0.4s ease-in;
  overflow: hidden;
  text-transform: uppercase;
}
.navMiddle a:nth-child(1) {
  text-decoration: underline;
  text-underline-offset: 0.5vw;
}
.navMiddle a:hover {
  color: var(--bg-black);
  scale: 0.99;
}
.navMiddle a::after {
  content: "";
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
  background-color: var(--bg-white);
  /* bottom: 0; */
  bottom: -100%;
  left: 0;
  border-radius: 50%;
  transition: all 0.4s ease-in-out;
}
.navMiddle a:hover::after {
  border-radius: 50px;
  bottom: 0;
}
.navRight .navCircle {
  height: 2vw;
  width: 2vw;
  border-radius: 50%;
  background-color: var(--bg-white);
  position: relative;
  z-index: 1;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}
.navRight .navCircle::after {
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 50px;
  position: absolute;
  z-index: -1;
  left: -100%;
  /* bottom: -100%; */
  background-color: var(--bg-black);
  transition: all 0.4s ease-in-out;
}
.navRight .navCircle:hover::after {
  left: -35%;
  border-radius: 20px;
}

/* center */
.pageCenter {
  line-height: 7.7vw;
}
.pageCenter > h1:nth-child(1) {
  font-size: 8vw;
  font-weight: 500;
  margin-top: var(--padding-text-top);
  margin-left: var(--padding-text-left);
}
.pageCenter h1:nth-child(2) {
  font-size: 8vw;
  font-weight: 500;
  margin-left: var(--padding-text-moreLeft);
}
.pageCenter .videoContainer {
  display: flex;
  flex-direction: column;
  /* height: 90vh; */
  width: 60%;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 4vw;
}
.pageCenter .videoContainer .text {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: -2.8vw;
  text-transform: uppercase;
  font-weight: 300;
}
.pageCenter .videoContainer video {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  background-position: center;
  background-size: cover;
}

/* PAGE 2 */
.page2 {
  min-height: 90vh;
  width: 100%;
  padding: var(--padding);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-top: 1vw;
}
.page2 h1 {
  font-size: 8vw;
  font-family: var(--font1);
  font-weight: 400;
  /* color: rebeccapurple; */
  color: var(--bg-black);
}
.page2 .page2Container {
  height: 60vh;
  width: 100%;
  /* background-color: teal; */
  font-family: var(--font1);
  color: var(--bg-black);

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-side);
}
.page2Container .page2Left {
  width: 30vw;
  line-height: 3.6vw;
}
.page2Container .page2Left h2 {
  font-size: 4.1vw;
  font-weight: 400;
}
.page2Container .page2Right {
  height: 38vh;
  width: 24vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.page2Container .page2Right p {
  font-size: 1.35vw;
  font-weight: 300;
}
.page2Container .page2Right button {
  width: 90%;
  background-color: var(--button-color);
  padding: var(--padding-button);
  color: var(--bg-black);
  border: none;
  border-radius: 20px;
  margin-bottom: 4vw;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.page2Container .page2Right button:hover {
  color: var(--text-color);
  background-color: var(--bg-black);
}

/* page2Bottom */
.page2 .page2Bottom h1 {
  margin-bottom: 4vw;
  margin-top: 2vw;
}
.page2 .page2Bottom .page2Bpart {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 0.5vw;
  /* margin-bottom: 17vw; */
}
.page2 .page2Bottom .page2Bpart .imgText {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.page2 .page2Bottom .page2Bpart .imgText h3 {
  color: var(--bg-black);
  font-family: var(--font1);
  font-weight: 500;
  font-size: 2vw;
  padding-top: 0.6vw;
}
.page2 .page2Bottom .page2Bpart .imgText2 {
  margin-top: 10vw;
}
.page2 .page2Bottom .page2Bpart .imgText2 img {
  /* width: 75vw; */
  background-position: center;
  background-size: cover;
  margin-bottom: 4vw;
}
.page2 .page2Bottom .page2Bpart .imgText img {
  height: 75vh;
  /* width: 60vw; */
  background-position: center;
  background-size: cover;
  border-radius: 0.5vw;
  margin-left: 2vw;
}
.page2 .page2Bottom .page2Bpart .videoText2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page2 .page2Bottom .page2Bpart .videoText2 video {
  margin-top: 0vw;
  margin-left: 1vw;
  margin-bottom: 0.6vw;
}
.page2 .page2Bottom .page2Bpart .videoText {
  margin-top: 6.3vw;
}
.page2 .page2Bottom .page2Bpart .videoText h3 {
  color: var(--bg-black);
  font-family: var(--font1);
  font-weight: 500;
  padding-bottom: 0.6vw;
}
.page2 .page2Bottom .page2Bpart .videoText span {
  font-weight: 300;
  padding-left: 1vw;
}
.page2 .page2Bottom .page2Bpart .videoText video {
  height: 65vh;
  margin-right: 5vw;
  /* width: 80vw; */
  border-radius: 0.5vw;
  background-position: center;
  background-size: cover;
}

/* page2 Last */
.page2 .page2Last .page2Container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: rebeccapurple; */
  margin-top: -8vw;
  padding-top: 5vw;
  /* margin-bottom: -8vw; */
}
.page2 .page2Last .page2LastText h3 {
  font-size: 6vw;
  font-weight: 300;
}
.page2 .page2Last .page2Circle {
  height: 10vw;
  width: 10vw;
  border-radius: 50%;
  background-color: var(--button-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
.page2 .page2Last .page2Circle:hover {
  background-color: var(--bg-black);
}
.page2 .page2Last .page2Circle .textCircle {
  font-weight: 300;
  font-family: var(--font1);
  color: var(--bg-black);
  transition: all 0.3s ease-in-out;
}
.page2 .page2Last .page2Circle:hover .textCircle {
  color: var(--bg-white);
  scale: 1.08;
}
